body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  max-width: 760px;

  a {
    color: royalblue;
    text-decoration: none;
  }

  p {
    font-size: 18px;
  }
}